
@{
    ViewBag.Title = "NewMessage";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<head>
    <title>New Message</title>
</head>

<h3>New Message</h3>
<div class="container">
    <!--Kullanici paneli yeni mesaj gonderme formu baslangic-->
    <form class="form-group" method="post">
        <b>Receiver Username</b>
        <input type="text" name="RECEIVER" maxlength="20" oninput = "this.value = trim(this.value)" required>

        <b>Topic</b>
        <input type="text" name="TOPIC" maxlength="50" onchange = "this.value = trim(this.value)" required>

        <b>Message Content</b>
        <textarea name="MESSAGECONTENT" style="height:200px" maxlength="500" onchange = "this.value = trim(this.value)" required></textarea>

        <button class="btn btn-warning">Send</button>
    </form>
    <!--Kullanici paneli yeni mesaj gonderme formu bitis-->
</div>
@if (@ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert" style="width:50%;margin:auto; text-align:center; position:relative; margin-top: 10px">
        @ViewBag.Message
    </div>
}



