@model ObjectManagementSystem.Models.Entity.OBJECT_TABLE

@{
    ViewBag.Title = "AddObject";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title>Add Object</title>
</head>
<h4></h4>
<a class="btn btn-info" style="margin-bottom:10px" href="/Object/Index"><i class="glyphicon glyphicon-menu-left"></i>Back</a>
<!--Yeni obje ekleme formu baslangic-->
<form class="form-group" method="post" style="text-decoration:double">
    <div>
        <label>Object Name</label>
        @Html.TextBoxFor(item => item.NAME, new { @class = "form-control", @required = "required", @maxlength = "30", @placeholder = "Name", @onchange = "this.value = trim(this.value)" })
    </div>
    <div style="margin-top: 10px">
        <label>Object Category</label>
        @Html.DropDownListFor(category => category.CATEGORY_TABLE.ID, (List<SelectListItem>)ViewBag.categoryItem, new { @class = "form-control" })
    </div>
    <div style="margin-top: 10px">
        <label>Object Image Link</label>
        @Html.TextBoxFor(item => item.OBJECTIMAGE, new { @class = "form-control", @maxlength = "250", @placeholder = "Link", @onchange = "this.value = trim(this.value)" })
    </div>
    <div style="margin-top: 10px">
        <label>Detail</label>
        @Html.TextAreaFor(item => item.DETAIL, new { @class = "form-control", @required = "required", @maxlength = "500", @placeholder = "Detail", @id = "myTextArea", @onchange = "this.value = trim(this.value)" })
    </div>
    <div style="margin-top:20px">
        <button id="defaultBtn" class="btn btn-danger" style="background-color: darkseagreen; margin-bottom: 15px; color:black">Add Object</button>
    </div>
    <input type="hidden" name="STATUS" value="True" />
    <input type="hidden" name="RESERVATIONSTATUS" value="True" />
</form>
<!--Yeni obje ekleme formu bitis-->