@model ObjectManagementSystem.Models.Entity.CATEGORY_TABLE
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title>Add Category</title>
</head>
<h4></h4>
<a class="btn btn-info" style="margin-bottom:10px" href="/Category/Index"><i class="glyphicon glyphicon-menu-left"></i>Back</a>
<!--Kategori ekleme formu baslangic-->
<form class="form-group" method="post" style="text-decoration:double">
    <div>
        <label>Category Name</label>
        <input class="form-control" onkeypress="return isNumericKey(event)" onchange="this.value = trim(this.value)" type="text" name="NAME" maxlength="25" placeholder="Category Name" required />
    </div>
    <div style="margin-top:20px">
        <button id="defaultBtn" class="btn btn-danger" style="background-color: darkseagreen; margin-bottom: 15px; color:black">Add Category</button>
    </div>
</form>
<!--Kategori ekleme formu bitis-->
@if (@ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert" style="width:50%;margin:auto; text-align:center; position:relative; margin-top: 10px">
        @ViewBag.Message
    </div>
}

