@using ObjectManagementSystem.Models.Entity
@model List<CATEGORY_TABLE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <title>Categories</title>
</head>
<!--Kategori tablosu baslangic-->
<div>
    <h2 id="tableTitle" style="background-color:lightyellow;">Categories</h2>
</div>

<table class="table table-striped" style="position:center; background-color: lightgray">
    <tr>
        <th>Category Id</th>
        <th>Category Name</th>
        <th>Delete Category</th>
        <th>Update Category</th>
    </tr>
    @foreach (var category in Model)
    {
        int x = 0;
        <tr>
            <td>@category.ID</td>
            <td id="tableDataOverFlow">@category.NAME</td>
            @foreach (var allObjects in ViewBag.allObjects)
            {
                if (allObjects.CATEGORY == category.ID)
                {
                    <td><a href="/Category/Index" class="btn btn-danger" onclick="return alert('This category cannot be deleted. It contains objects.')" style="background-color:darkred">Delete</a></td>
                    x = 1;
                    break;
                }
            }
            @if (x == 0)
            {
                <td><a href="/Category/DeleteCategory/@category.ID" class="btn btn-danger" onclick="return confirm(' Are you sure you want to delete Category:\n @category.NAME')" style="background-color:darkred">Delete</a></td>
            }
            <td><a href="/Category/GetCategory/@category.ID" class="btn btn-info" style="background-color:darkseagreen;color:black">Update</a></td>
        </tr>
    }
</table>
<!--Kategori tablosu bitis-->
<br />
<a style="margin-bottom:15px" href="/Category/AddCategory/" class="btn btn-primary">Add New Category</a>


